<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dachuang.mapper.user.UserMapper">
    <select id="selectDataMangement" resultType="com.dachuang.entity.file.po.FileDO">
        select * from sys_sample
        <where>
            <if test=" createBy != null">
                create_by = #{createBy}
            </if>
        </where>

    </select>
</mapper>